<!DOCTYPE html>
<html>
<head>
    <title>Hangman...</title>
    <!--<script src="./node_modules/angular/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="JS/knob.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>    
<body ng-app="HangmanApp" ng-controller="GameController">
<div class="">
    <div class="">Guesses Left :: {{guesses}}</div>
    <div class="">Correct Guesses :: <span ng-repeat="letter in correctLettersChosen">{{letter}}</span></div>
    <div class="">Incorrect Guesses :: <span ng-repeat="letter in incorrectLettersChosen">{{letter}}</span></div>
    <div class="">You have to guess: {{displayWord}}</div>
    <div>
        <div>
            <input type="text" name="guess" ng-model="input.letter"/>
            <button ng-click="letterChosen()">Submit</button>
        </div>
    </div>
</div>
</body>
    
    
</html>